/* .aqualelement{
    background-color: aqua;
}
h1{
    background-color: brown;
} */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
  
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./design-space-paper-textured-background.jpg);
    background-repeat:no-repeat;

    background-size: 100% ;
    background-color:var(--very-pale-blue); /*Background colou you can do different */
    color: var(--desaturated-blue);
    font-family:"Red Hat Display",sans-serif;
    
}

.card{
    width: 450px;
    background-color:rgb(255, 255, 255);
    color: var(--desaturated-blue);
    border-radius: 20px;
    overflow:hidden;
    margin: 50px auto;
    
}

.title{
    color: var(--dark-blue);
    font-weight: 900;
    font: size 32px;
}

.hero-image{
    width: 100%;
}

.container{
    padding: 30px;   
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
 .container>*{
    margin: 13px 0; /* 13-top and bottom and 0-left and right*/
 }


.order-description{
    line-height: 25px;

}

/* button{
    width: 100%;
    border: none;
    font-weight: 700;
    font-size: 0,9rem;
    border-radius: 12px;
    cursor: pointer;     
}   ## now we can cancel the remaing  tags which we write in the bellow this utton will 
automtically apply this to all of them*/

.proceed-button{
    background-color: var(--bright-blue);
    padding: 1rem 0;
    color:white;
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    width: 100%;
    border: none;
    font-weight: 700;
    cursor:pointer;
    border-radius: 12px;
    font-size: 0.9rem;

}
.proceed-button:hover{
    opacity:0.8;

    color: rgb(220, 198, 198);
}

.cancel-button{
    background-color: white;
    color: var(--desaturated-blue);
    border:none;
    margin-top:22px;
    width: 100%;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 12px;
    cursor: pointer;

}
.cancel-button:hover{
    color: black;
}

.plan-container{
    font-size: 16px;
    background-color: var(--very-pale-blue);
    padding:25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.plan-container a{
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 700;

}
.plan-container strong {
    color: black
}
.plan-container a:hover{
    opacity: 0.8;
    text-decoration: none;
}
.plan-description{
    line-height: 20px;
    margin-right: 75px;
}
.saurabh{
    color: rgb(17, 17, 15);
    opacity: 0.8;
    font-size: 12px;
    font-weight: 200;
}